@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Source Han Sans SC";
  /* "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  color: #000000;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-padding {
  padding: 40px 120px;
}

.horizontal-padding {
  padding: 0 120px;
}

.sider-layout {
  width: 305px;
  min-width: 305px;
  padding-left: 120px;
  background: white;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.left-padding {
  padding-left: 10px;
}

.vertical-padding {
  padding: 40px 0;
}

.top-padding {
  padding: 120px 0 0 0;
}

.divider {
  height: 100% !important;
}

.filled-bg {
  background: #3964fe;
  color: white !important;
}

.filled-bg .navigation-link,
.filled-bg .paragraph,
.filled-bg .post-text,
.filled-bg .pre-text,
.filled-bg .info-text,
.filled-bg .info-header {
  color: white;
}

.white-bg {
  background: white;
  color: black !important;
}

.header {
  padding-top: 20px;
  padding-bottom: 50px;
  background-size: cover;
}

.branding {
  position: absolute;
  left: 0;
  width: 120px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
}

.carousel-image {
  /* height: 500px; */
  width: 100%;
  max-height: 720px;
}

.fullwidth-image {
  width: 100%;
}

.product-image {
  width: 80%;
  height: 80%;
}

.customer-image {
  width: 600px;
  height: 300px;
  max-width: 90%;
}

.media-image {
  width: 356px;
  height: 280px;
}

.seperator {
  height: 200px;
}

.section-seperator {
  height: 150px;
}

a {
  text-decoration: none;
  /* font-family: "Lato"; */
  font-weight: 300;
  text-align: right;
  cursor: pointer;
}

.demo-link {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 0px;
  color: white;
}

.navigation-link {
  top: 42px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  /* float: right; */
}

.title,
.subtitle {
  text-align: left;
  /* font-family: "Lato"; */
  color: black;
}

.title {
  width: 614px;
  height: 144px;
  margin: 120px;
  /* font-family: "Source Han Sans SC"; */
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 72px;
}

.section-title {
  padding-left: 120px;
  width: 305px;
  max-width: 305px;
}

.subtitle {
  margin-top: -20px;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.sub {
  height: 425px;
}

.button {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #5edbb1;
  border-radius: 40px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  font-family: "Lato";
  border: none;
}

.about-us,
.product {
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
}

.about-us img {
  float: right;
  display: block;
  padding-right: 10px;
  width: 60px;
}

.about-us .icon-card .info-header {
  padding-top: 12px;
}

.customer-profile .icon-card {
  padding-top: 2px;
}

.customer-profile .icon-card .info-header {
  padding-top: 2px;
}

.customer-profile .icon-card .info-text {
  padding-top: 32px;
}

.heading,
.paragraph {
  color: black;
  margin: 10px 0;
}

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
}

.paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

hr {
  max-width: 60px;
  margin: 0px;
  margin-top: -20px;
  background: #8d90d4;
}

.paragraph {
  font-size: 16px;
  font-weight: 100px;
  line-height: 2;
  letter-spacing: 2;
}

.pre-text {
  font-size: 12px;
  line-height: 17px;
  line-height: 3;
  letter-spacing: 2;
  /* white-space: nowrap; */
}

.post-text {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 2;
  /* white-space: nowrap; */
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: auto;
  overflow-x: auto;
  align-items: center;
  -webkit-overflow-scrolling: touch;
}

.flex-item {
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
}

.inline-block {
  align-self: center;
  /* border-left: 1px solid #f0f0f0; */
  /* height: 450px; */
}

.icon-card {
  padding: 40px 20px;
  text-align: left;
  color: black;
}

.product-feature .icon-card {
  margin: 8px 4px;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #6b6b6b;
}

.product-feature .icon-card img {
  width: 50px;
}

.update .icon-card {
  width: 240px;
  margin: 10px 70px;
  padding: 0;
  text-align: center;
  padding-top: 50px;
}

.update .icon-card .info-text,
.media-update .icon-card .info-text {
  line-height: 36px;
}

.customer .icon-card {
  margin: 60px 50px 0 50px;
  text-align: left;
}

.customer .customer-feature .icon-card {
  margin: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #6b6b6b;
  align-self: center;
}

.customer .customer-feature .icon-card img {
  width: 60px;
}

.customer .customer-feature .icon-card .info-text {
  text-align: center;
  width: 100%;
}

.media-update .icon-card {
  padding: 40px 36px;
  text-align: left;
  color: black;
  margin-right: 14px;
}

.alt-background {
  background-color: rgba(57, 100, 254, 0.05);
}

.left-border {
  border-left: 1px solid #f0f0f0;
}

.customer-feature {
  padding: 0px 50px 10px 50px;
  text-align: center;
}

.info-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.info-text {
  margin: 14px 0 28px 0;
  font-size: 16px;
  /* line-height: 26px; */
}

.footer-nav {
  flex-direction: row;
}

.social-links li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}

.text-padding {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

#customer {
  height: 400px;
}

#customer-tab .ant-tabs-nav {
  align-self: flex-end;
}

.section-c {
  padding-top: 20px;
  padding-bottom: 60px;
  background: #fafafc;
  background-size: cover;
}

.footer {
  padding-top: 15px;
  padding-bottom: 35px;
  background: #666666;
}

.laptop,
.article-cover {
  position: relative;
  margin: auto;
  display: block;
  width: 70%;
}

.article {
  color: blue;
}

.user-message {
  position: absolute;
  left: 43%;
  color: #333333;
  font-size: 10px;
  bottom: 1%;
  font-family: "Lato";
}

.bot-message {
  position: absolute;
  left: 43%;
  color: #333333;
  font-size: 10px;
  bottom: 11%;
  font-family: "Lato";
}

.user-avatar {
  position: absolute;
  border-radius: 5px;
  left: -21%;
  height: 100%;
  width: 18%;
}

.bot-avatar {
  position: absolute;
  border-radius: 5px;
  left: -15.5%;
  height: 70%;
  width: 13.5%;
}

.username {
  font-weight: 700;
  opacity: 1;
}

.message {
  font-weight: 400;
  opacity: 0.8;
}
